<style scoped lang="scss">
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5">
        <p class="font-bold text-gray-800">Admin Dashboard</p>
      </div>
      <div class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic">
        <p class="font-bold mb-1">Create Group</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formGroup.name"
        >
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Description here..."
          v-model="formGroup.description"
        >
        <button class="bg-gray-300 text-gray-600 py-1 px-5 mb-2" @click="fnGroup('add')">Add</button>
        <p class="font-bold">Groups</p>
        <div
          v-for="(item, index) in groups"
          :key="index"
          class="flex flex-row justify-between mb-1"
        >
          <span>{{item.name}}</span>
          <div>
            <span
              class="text-xs text-gray-600 cursor-pointer bg-gray-300 py-1 px-2 ml-2"
              @click="showTopic(item)"
            >Topics</span>
            <span
              class="text-xs text-gray-600 cursor-pointer bg-gray-300 py-1 px-2 ml-2"
              @click="editGroup(item)"
            >Edit</span>
            <span
              class="text-xs text-gray-600 cursor-pointer bg-gray-300 py-1 px-2 ml-2"
              @click="fnGroup('delete', item)"
            >Delete</span>
          </div>
        </div>
      </div>
      <div
        class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic"
        v-if="formEditGroup.show"
      >
        <p class="font-bold mb-1">Edit Group</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formEditGroup.name"
        >
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formEditGroup.description"
        >
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formEditGroup.slug"
        >
        <button class="bg-gray-300 text-gray-600 py-1 px-5 mb-2" @click="fnGroup('update')">Update</button>
      </div>
      <div
        v-if="formTopic.show"
        class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic"
      >
        <p class="font-bold mb-1">Create Topic for {{formTopic.groupName}}</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formTopic.name"
        >
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formTopic.description"
        >
        <button class="bg-gray-300 text-gray-600 py-1 px-5 mb-2" @click="fnTopic('add')">Add Topic</button>
        <p class="font-bold">Topics</p>
        <div
          v-for="(item, index) in topics"
          :key="index"
          class="flex flex-row justify-between mb-1"
        >
          <span>{{item.name}}</span>
          <div>
            <span
              class="text-xs text-gray-600 cursor-pointer bg-gray-300 py-1 px-2 ml-2"
              @click="editTopic(item)"
            >Edit</span>
            <span
              class="text-xs text-gray-600 cursor-pointer bg-gray-300 py-1 px-2 ml-2"
              @click="fnTopic('delete', item)"
            >Delete</span>
          </div>
        </div>
      </div>
      <div
        class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic"
        v-if="formEditTopic.show"
      >
        <p class="font-bold mb-1">Edit Topic</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formEditTopic.name"
        >
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formEditTopic.description"
        >
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="formEditTopic.slug"
        >
        <button class="bg-gray-300 text-gray-600 py-1 px-5 mb-2" @click="fnTopic('update')">Update</button>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 p-2 mb-5 shadow">
      <p class="text-sm text-gray-600">Anime Arena</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
export default {
  name: "home",
  components: { Header },
  created: function() {
    this.getGroup();
  },
  data: function() {
    return {
      formGroup: {
        name: "",
        description: ""
      },
      formTopic: {
        name: "",
        description: "",
        group: "",
        groupName: "",
        show: false
      },
      formEditGroup: {
        _id: "",
        name: "",
        description: "",
        show: false
      },
      formEditTopic: {
        _id: "",
        group: "",
        name: "",
        description: "",
        show: false
      },
      groups: [],
      topics: []
    };
  },
  methods: {
    getGroup: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/group`)
        .then(response => {
          console.log(response.data);
          self.groups = response.data;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    getTopic: function(id) {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/topic/` + id)
        .then(response => {
          console.log(response.data);
          self.topics = response.data;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    editGroup: function(item) {
      this.formEditGroup._id = item._id;
      this.formEditGroup.name = item.name;
      this.formEditGroup.description = item.description;
      this.formEditGroup.slug = item.slug;
      this.formEditGroup.show = true;
    },
    editTopic: function(item) {
      this.formEditTopic._id = item._id;
      this.formEditTopic.group = item.group;
      this.formEditTopic.name = item.name;
      this.formEditTopic.description = item.description;
      this.formEditTopic.slug = item.slug;
      this.formEditTopic.show = true;
    },
    fnGroup: function(type, item = undefined) {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      if (type === "add") {
        axios
          .post(process.env.VUE_APP_API + `/api/group`, this.formGroup)
          .then(response => {
            console.log(response.data);
            self.getGroup();
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
          });
      }
      if (type === "update") {
        let payload = {
          name: this.formEditGroup.name,
          description: this.formEditGroup.description,
          slug: this.formEditGroup.slug
        };
        let id = this.formEditGroup._id;
        axios
          .post(process.env.VUE_APP_API + `/api/group/update/` + id, payload)
          .then(response => {
            console.log(response.data);
            self.getGroup();
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
          });
      }
      if (type === "delete") {
        let id = item._id;
        axios
          .post(process.env.VUE_APP_API + `/api/group/delete/` + id)
          .then(response => {
            console.log(response.data);
            self.getGroup();
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
          });
      }
    },
    fnTopic: function(type, item = undefined) {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      if (type === "add") {
        axios
          .post(process.env.VUE_APP_API + `/api/topic`, this.formTopic)
          .then(response => {
            console.log(response.data);
            self.getTopic(self.formTopic.group);
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
          });
      }
      if (type === "update") {
        let payload = {
          name: this.formEditTopic.name,
          description: this.formEditTopic.description,
          slug: this.formEditTopic.slug
        };
        let id = this.formEditTopic._id;
        axios
          .post(process.env.VUE_APP_API + `/api/topic/update/` + id, payload)
          .then(response => {
            console.log(response.data);
            self.getTopic(self.formTopic.group);
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
          });
      }
      if (type === "delete") {
        let id = item._id;
        axios
          .post(process.env.VUE_APP_API + `/api/topic/delete/` + id, {
            _id: item._id
          })
          .then(response => {
            console.log(response.data);
            self.getTopic(self.formTopic.group);
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
          });
      }
    },
    showTopic: function(item) {
      this.formTopic.group = item._id;
      this.formTopic.groupName = item.name;
      this.formTopic.show = true;
      this.getTopic(item._id);
    }
  }
};
</script>
