<style scoped lang="scss">
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div v-for="(group, index) in groups" :key="'group'+index" class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5">
        <p class="font-bold text-gray-800">{{group.name}}</p>
      </div>
      <div
        v-for="(topic, index) in group.topics"
        :key="'topic'+index"
        class="bg-gray-100 border border-b-0 w-full p-5 flex flex-row justify-between topic"
      >
        <div class="flex flex-col cursor-pointer" @click="$router.push({path: `${topic.slug}`})">
          <p class="text-sm font-bold">{{topic.name}}</p>
          <p class="text-sm text-gray-600">{{topic.description}}</p>
        </div>
        <div class="flex flex-row">
          <div class="flex flex-col px-5">
            <p class="text-xs text-gray-600">{{topic.threadsCount}} threads</p>
            <p class="text-xs text-gray-600">{{topic.postsCount}} reply</p>
          </div>
          <div
            class="flex flex-col cursor-pointer"
            v-if="topic.threads[0] !== undefined"
            @click="$router.push(`/${topic.slug}/${topic.threads[0].slug}`)"
          >
            <p
              class="text-xs text-gray-600"
              v-if="topic.threads[0].posts[0] !== undefined"
            >{{topic.threads[0].posts[0].date | hours}}</p>
            <p
              class="text-xs text-gray-600"
              v-if="topic.threads[0].posts[0] !== undefined"
            >by {{topic.threads[0].posts[0].user.username}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 p-2 mb-5 shadow">
      <p class="text-sm text-gray-600">Anime Arena</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import moment from "moment";

export default {
  name: "home",
  components: { Header },
  created: function() {
    this.getGroup();
  },
  data: function() {
    return {
      groups: [],
      loaded: false
    };
  },
  filters: {
    formatDate: function(val) {
      return moment(val).format("dddd, MMMM Do YYYY");
    },
    hours: function(val) {
      return moment(val).fromNow();
    }
  },
  methods: {
    getGroup: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/home`)
        .then(response => {
          console.log(response.data);
          self.groups = response.data;
          self.loaded = true;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>
