<style scoped lang="scss">
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5">
        <p class="font-bold text-gray-800">Create New Thread</p>
      </div>
      <div class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic">
        <p class="font-bold mb-1">Title</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="thread.name"
        >
        <p class="font-bold mb-1">Content</p>
        <wysiwyg v-model="thread.content" class="bg-white"/>
        <!-- <textarea
          class="bg-white border border-gray-300 py-2 px-4 block w-full appearance-none leading-normal mb-1"
          style="height:200px;"
          placeholder="jane@example.com"
          v-model="thread.content"
        ></textarea>-->
        <button class="bg-gray-300 text-gray-600 py-1 px-5" @click="submitThread">Post</button>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 p-2 mb-5 shadow">
      <p class="text-sm text-gray-600">8 Members Online</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
export default {
  name: "home",
  components: { Header },
  created: function() {
    this.getTopic();
  },
  data: function() {
    return {
      topic: {},
      thread: {
        name: "",
        content: "",
        topic: ""
      }
    };
  },
  methods: {
    getTopic: function() {
      let self = this;
      let topic = this.$route.params.topic;
      console.log(this.$route.params);
      axios
        .get(process.env.VUE_APP_API + `/api/home/topic/${topic}`)
        .then(response => {
          console.log(response.data);
          self.topic = response.data;
          self.thread.topic = response.data._id;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    submitThread: function() {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/thread`, this.thread)
        .then(response => {
          console.log(response.data);
          self.$router.push(`/${self.topic.slug}`);
          // self.getGroup();
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>
