<style scoped lang="scss">
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5">
        <p class="font-bold text-gray-800">Edit Profile</p>
      </div>
      <div class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic">
        <p class="font-bold mb-1">Change Profile Picture</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="profile.profpic"
        >
        <p class="font-bold mb-1">Change Background</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="profile.background"
        >
        <button class="bg-gray-300 text-gray-600 py-1 px-5" @click="submitProfile">Update</button>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 p-2 mb-5 shadow">
      <p class="text-sm text-gray-600">Anime Arena</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
export default {
  name: "home",
  components: { Header },
  created: function() {
    this.getProfile();
  },
  data: function() {
    return {
      profile: {},
      thread: {
        name: "",
        content: "",
        topic: ""
      }
    };
  },
  methods: {
    getProfile: function() {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .get(process.env.VUE_APP_API + `/api/user`)
        .then(response => {
          console.log(response.data);
          self.profile = response.data;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    submitProfile: function() {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/user`, this.profile)
        .then(response => {
          this.$store.dispatch("change", {
            key: "background",
            val: response.data.background
          });
          localStorage.removeItem("background");
          localStorage.setItem("background", response.data.background);
          self.getProfile();
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>
