<style scoped lang="scss">
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5">
        <p class="font-bold text-gray-800">Register</p>
      </div>
      <div class="bg-gray-100 border border-b-0 w-full p-5 flex flex-col justify-between topic">
        <p class="font-bold mb-1">Username</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          placeholder="Text here..."
          v-model="form.username"
        >
        <p class="font-bold mb-1">Password</p>
        <input
          class="bg-white border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal mb-1"
          type="password"
          placeholder="Text here..."
          v-model="form.password"
        >
        <p class="bg-gray-300 text-gray-600 py-1 px-5 cursor-pointer" @click="submit">Register</p>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 p-2 mb-5 shadow">
      <p class="text-sm text-gray-600">8 Members Online</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
export default {
  name: "home",
  components: { Header },
  data: function() {
    return {
      form: {
        username: "",
        password: ""
      },
      errors: []
    };
  },
  methods: {
    submit: function() {
      let payload = {
        username: this.form.username.toLowerCase(),
        password: this.form.password
      };
      axios
        .post(process.env.VUE_APP_API + `/api/auth/register/`, payload)
        .then(response => {
          // alert("Registered successfully");
          this.$router.push("/login");
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>
