<style scoped lang="scss">
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

.avatar {
  height: 75px;
  width: 75px;
}
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5">
        <p class="font-bold text-gray-800">{{thread.name}}</p>
      </div>
      <div
        v-if="loaded"
        class="bg-gray-100 border border-b-0 w-full flex flex-row justify-between topic"
      >
        <div class="flex flex-col w-40 bg-gray-200 p-2">
          <p class="text-sm text-gray-800 font-bold">{{thread.user.username}}</p>
          <p class="text-xs text-gray-600 mb-1">{{thread.user.usergroup}}</p>
          <img class="avatar mb-1" :src="thread.user.profpic">
          <p class="text-xs text-gray-600">{{thread.user.postsCount}} Posts</p>
        </div>
        <div class="flex flex-col w-full p-5 justify-between">
          <p class="text-sm mb-4" v-html="thread.content"></p>
          <div class="flex flex-row justify-between">
            <p class="text-xs text-gray-600">Posted {{thread.date | hours}}</p>
          </div>
        </div>
      </div>
      <div
        v-for="(post, index) in thread.posts"
        :key="'post'+index"
        class="bg-gray-100 border border-b-0 w-full flex flex-row justify-between topic"
      >
        <div class="flex flex-col w-40 bg-gray-200 p-2">
          <p class="text-sm text-gray-800 font-bold">{{post.user.username}}</p>
          <p class="text-xs text-gray-600 mb-1">{{post.user.usergroup}}</p>
          <img class="avatar mb-1" :src="post.user.profpic">
          <p class="text-xs text-gray-600">{{post.user.postsCount}} Posts</p>
        </div>
        <div class="flex flex-col w-full p-5">
          <div class="text-sm mb-4" v-html="post.content"></div>
          <div class="flex flex-row justify-between">
            <p class="text-xs text-gray-600">Posted {{post.date | hours}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 text-center p-2 mb-5 shadow" v-show="false">
      <p class="text-sm text-gray-600">Load More</p>
    </div>

    <div class="flex flex-col shadow bg-white">
      <wysiwyg v-model="formPost.content"/>
      <button class="bg-gray-300 text-gray-600 py-1 px-5" @click="submitPost">Post</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import moment from "moment";

export default {
  name: "home",
  components: { Header },
  created: function() {
    this.getThread();
  },
  data: function() {
    return {
      loaded: false,
      thread: {},
      formPost: {
        content: "",
        topic: "",
        thread: "",
        post: ""
      }
    };
  },
  filters: {
    formatDate: function(val) {
      return moment(val).format("dddd, MMMM Do YYYY");
    },
    hours: function(val) {
      return moment(val).fromNow();
    }
  },
  methods: {
    getThread: function() {
      let self = this;
      let thread = this.$route.params.thread;
      axios
        .get(process.env.VUE_APP_API + `/api/home/thread/${thread}`)
        .then(response => {
          self.loaded = true;
          self.thread = response.data;
          self.formPost.topic = response.data.topic._id;
          self.formPost.thread = response.data._id;
          self.$store.dispatch("change", {
            key: "topic",
            val: response.data.topic.name
          });
          self.$store.dispatch("change", {
            key: "thread",
            val: response.data.name
          });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    },
    submitPost: function() {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/reply`, this.formPost)
        .then(response => {
          self.getThread();
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>
