<style scoped lang="scss">
.topic {
  &:last-child {
    border-bottom: 1px solid #e2e8f0;
  }
}
</style>

<template>
  <div class="home flex flex-col w-full md:w-6/12 mx-auto py-5 px-2">
    <Header></Header>
    <div class="flex flex-col mb-5 shadow">
      <div class="bg-gray-300 p-2 px-5 flex flex-row justify-between items-center">
        <p class="font-bold text-gray-800">{{topic.name}}</p>
        <p
          class="text-sm bg-gray-700 text-gray-200 px-2 py-1 cursor-pointer"
          v-if="loggedIn"
          @click="$router.push({path: `/post/${topic.slug}`})"
        >Create Thread</p>
      </div>
      <div
        v-for="(thread, index) in topic.threads"
        :key="'thread'+index"
        class="bg-gray-100 border border-b-0 w-full py-2 px-5 flex flex-row justify-between topic"
      >
        <div
          class="flex flex-col cursor-pointer"
          @click="$router.push({path: `${topic.slug}/${thread.slug}`})"
        >
          <p class="text-sm font-bold">{{thread.name}}</p>
          <p
            class="text-xs text-gray-600"
          >Started on {{topic.date | formatDate}} by {{thread.user.username}}</p>
        </div>
        <div class="flex flex-row items-center">
          <div class="flex flex-col px-5">
            <p class="text-xs text-gray-600">{{thread.postsCount}} Replies</p>
          </div>
          <div class="flex flex-col">
            <p
              class="text-xs text-gray-600"
              v-if="thread.posts[0] !== undefined"
            >{{thread.posts[0].date | hours}}</p>
            <p
              class="text-xs text-gray-600"
              v-if="thread.posts[0] !== undefined"
            >by {{thread.posts[0].user.username}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col bg-gray-300 text-center p-2" v-show="false">
      <p class="text-sm text-gray-600">Load More</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "@/components/Header.vue";
import moment from "moment";

export default {
  name: "home",
  components: { Header },
  created: function() {
    this.getTopic();
  },
  data: function() {
    return {
      topic: {}
    };
  },
  computed: {
    loggedIn: function() {
      return this.$store.getters["loggedIn"];
    }
  },
  filters: {
    formatDate: function(val) {
      return moment(val).format("dddd, MMMM DD YYYY");
    },
    hours: function(val) {
      return moment(val).fromNow();
    }
  },
  methods: {
    getTopic: function() {
      let self = this;
      let topic = this.$route.params.topic;
      axios
        .get(process.env.VUE_APP_API + `/api/home/topic/${topic}`)
        .then(response => {
          console.log(response.data);
          self.topic = response.data;
          self.$store.dispatch("change", {
            key: "topic",
            val: response.data.name
          });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>
