<style scoped lang="scss">
.logo {
  background: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}
</style>

<template>
  <div class="flex flex-col">
    <div class="flex flex-col logo">
      <h1
        class="text-3xl font-extrabold text-shadow cursor-pointer"
        @click="$router.push('/')"
      >Anime Boards</h1>
    </div>

    <div v-if="isLoggedIn" class="bg-gray-300 p-2 px-5 mb-5 flex flex-row justify-end">
      <p
        v-if="usergroup === 'Admin'"
        class="font-bold text-gray-600 pl-2 cursor-pointer"
        @click="$router.push('/admin')"
      >Admin</p>
      <p
        class="font-bold text-gray-600 pl-2 cursor-pointer"
        @click="$router.push('/profile')"
      >Profile</p>
      <p class="font-bold text-gray-600 pl-2 cursor-pointer" @click="logout">Logout</p>
    </div>

    <div v-if="!isLoggedIn" class="bg-gray-300 p-2 px-5 mb-5 flex flex-row justify-end">
      <p class="font-bold text-gray-600 pl-2 cursor-pointer" @click="$router.push('/login')">Login</p>
      <p
        class="font-bold text-gray-600 pl-2 cursor-pointer"
        @click="$router.push('/register')"
      >Sign Up</p>
    </div>

    <div class="flex flex-row py-2 px-5 bg-gray-200 cursor-pointer flex-wrap">
      <span class="pr-2 text-gray-600 text-sm" @click="$router.push('/')">Home</span>
      <span
        class="pr-2 text-gray-600 text-sm"
        @click="$router.push(`/${topicSlug}`)"
        v-if="topic"
      >/ {{topic}}</span>
      <span
        class="pr-2 text-gray-600 text-sm"
        @click="$router.push(`/${topicSlug}/${threadSlug}`)"
        v-if="thread"
      >/ {{thread}}</span>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "HelloWorld",
  computed: {
    isLoggedIn: function() {
      return this.$store.getters["loggedIn"];
    },
    usergroup: function() {
      return localStorage.getItem("usergroup");
    },
    topic: function() {
      let topic = this.$store.getters["topic"];
      return this.$route.params.topic !== undefined ? topic : false;
    },
    topicSlug: function() {
      return this.$route.params.topic !== undefined
        ? this.$route.params.topic
        : false;
    },
    thread: function() {
      let thread = this.$store.getters["thread"];
      return this.$route.params.thread !== undefined ? thread : false;
    },
    threadSlug: function() {
      return this.$route.params.thread !== undefined
        ? this.$route.params.thread
        : false;
    }
  },
  methods: {
    logout() {
      axios
        .post(process.env.VUE_APP_API + `/api/auth/logout`)
        .then(res => {
          console.log('logged out')
          localStorage.removeItem("jwtToken");
          localStorage.removeItem("usergroup");
          localStorage.removeItem("background");
          this.$store.dispatch("change", { key: "loggedIn", val: false });
          this.$router.push("/");
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
          if (e.response.status === 401) {
            this.$router.push("/");
          }
        });
    }
  }
};
</script>
