<template>
  <div id="app" class="h-full min-h-screen" :style="`${background}`">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "root",
  created: function() {
    let jwt = localStorage.getItem("jwtToken");
    if (jwt !== null) {
      this.$store.dispatch("change", { key: "loggedIn", val: true });
      this.$store.dispatch("change", {
        key: "background",
        val: localStorage.getItem("background")
      });
    }
  },
  data: function() {
    return {};
  },
  computed: {
    background: function() {
      let background = this.$store.getters["background"];
      let url =
        background !== false && background !== undefined && background !== null
          ? background
          : "https://i.pinimg.com/originals/3c/7a/fc/3c7afc1b68c0f8cc367dd9d0f1f383de.jpg";
      return `background-image: url(${url})`;
    }
  },
  methods: {}
};
</script>

<style lang="scss">
input:focus {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-image: "https://i.pinimg.com/originals/3c/7a/fc/3c7afc1b68c0f8cc367dd9d0f1f383de.jpg";
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
